{% assign featured_events = include.postlist %}
{% if featured_events.size > 0 %}
<div class="container featured-posts">
  <div class="row row-cols-1">
  {% for event in featured_events limit: limit %}
    {% assign heading1 = event.title | default: event.event-type %}
    {% capture heading2 -%}{{ event.speaker }}{%- if event.speaker and event.affil %} ({{ event.affil }}){%- endif -%}{% endcapture %}
    <div class="card-item col">
      <div class="card hoverable">
        <div class="card-body">
          <a href="{{ event.url | relative_url }}">
            <div class="card-title">
              <h3>{{ heading1 }}</h3>
              <h4>{{ heading2 }}</h4>
              <div class="post-meta">
                {% include snippets/show_date.liquid 
                  start-date = event.date-start
                  date = event.date
                  end-date = event.date-end
                  format = "long"
                  -%}
                {%- if event.location %}
                  &nbsp;
                  {% include snippets/show_location.liquid location=event.location %}
                {%- endif %}
                {% if categories != "" %}
                  &nbsp; &middot; 
                  {% for category in event.categories %}
                    &nbsp;
                    {% include snippets/show_category.liquid 
                      category = category
                      active = true
                      %}
                  {% endfor %}
                {%- endif -%}
              </div>
            </div>
            <div class="card-text">{%- if event.description -%}{{ event.description }}{%- else -%}{{ event.content }}{%- endif -%}</div>
            </a>
          </div>
        </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}