---
# // Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

// @use "variables" as *; // Now @use'd in each file where needed.
@use "themes";
@use "layout" with ($max-content-width: {{ site.max_width }});
@use "base";
// @use "distill"; // we don't use this
// @use "cv"; // we don't use this

@use "font-awesome/fontawesome";
@use "font-awesome/brands";
@use "font-awesome/solid";
@use "font-awesome/regular";
